body{
    main{
       section{
            #formSesion{
                display: flex;
                flex-direction: column;
                align-items: center;
                #contDatosInicioSesion{
                    width: 50%;
                }
            }
       }
    }
}